.auction-grid-title-section {
 display: flex;
 justify-content: space-between;
 align-items: center
}

@media (max-width: 767px) {
 .auction-grid-title-section {
  flex-wrap: wrap;
  gap: 20px
 }
}

@media (max-width: 576px) {
 .auction-grid-title-section {
  flex-direction: column;
  align-items: flex-start
 }
}

.auction-grid-title-section h6 {
 color: rgba(var(--title-color-opc), .5);
 font-family: var(--font-dmsans);
 font-size: 16px;
 font-weight: 400;
 line-height: 1;
 text-transform: capitalize;
 margin-bottom: 0
}

.auction-grid-title-section .filter-selector {
 display: flex;
 align-items: center;
 gap: 20px;
 flex-wrap: wrap
}

@media (min-width: 576px) and (max-width:767px) {
 .auction-grid-title-section .filter-selector {
  gap: 0
 }
}

@media (max-width: 576px) {
 .auction-grid-title-section .filter-selector {
  justify-content: space-between;
  width: 100%
 }
}

.auction-grid-title-section .filter-selector .filter {
 display: flex;
 align-items: center;
 gap: 8px;
 margin-right: 20px;
 cursor: pointer
}

.auction-grid-title-section .filter-selector .filter .filter-icon {
 cursor: pointer;
 line-height: 1;
 transition: .5s
}

.auction-grid-title-section .filter-selector .filter .filter-icon svg {
 fill: var(--title-color);
 transition: .5s
}

.auction-grid-title-section .filter-selector .filter span {
 color: var(--title-color);
 font-family: var(--font-dmsans);
 font-size: 15px;
 font-weight: 400;
 letter-spacing: .3px;
 transition: .5s
}

.auction-grid-title-section .filter-selector .filter:hover .filter-icon svg {
 fill: var(--primary-color)
}

.auction-grid-title-section .filter-selector .filter:hover span {
 color: var(--primary-color)
}

.auction-grid-title-section .filter-selector .selector {
 margin-right: 20px
}

@media (max-width: 767px) {
 .auction-grid-title-section .filter-selector .selector {
  margin-right: 0
 }
}

.auction-grid-title-section .filter-selector .selector .nice-select {
 width: 195px;
 height: 40px;
 border-radius: 30px;
 border: 1px solid var(--primary-color2);
 color: var(--primary-color2);
 font-family: var(--font-dmsans);
 font-size: 14px;
 font-weight: 400;
 text-transform: capitalize;
 padding-left: 25px;
 display: flex;
 align-items: center
}

.auction-grid-title-section .filter-selector .selector .nice-select:focus {
 border: 1px solid #ddd
}

@media (max-width: 767px) {
 .auction-grid-title-section .filter-selector .selector .nice-select {
  width: 160px;
  height: 35px;
  padding-left: 18px;
  padding-right: 15px
 }
}

.auction-grid-title-section .filter-selector .selector .nice-select:after {
 border-bottom: 2px solid var(--primary-color2);
 border-right: 2px solid var(--primary-color2);
 width: 8px;
 height: 8px;
 right: 28px;
 top: 48%
}

@media (max-width: 767px) {
 .auction-grid-title-section .filter-selector .selector .nice-select:after {
  right: 20px
 }
}

.auction-grid-title-section .filter-selector .selector .nice-select.open .list {
 width: 100%
}

.auction-grid-title-section .filter-selector .selector .nice-select.open .list .option {
 padding-left: 25px;
 font-family: var(--font-dmsans);
 font-size: 14px
}

@media (max-width: 767px) {
 .auction-grid-title-section .filter-selector .selector .nice-select.open .list .option {
  padding-left: 15px
 }
}

.auction-grid-title-section .filter-selector .grid-view {
 padding: 0;
 margin: 0;
 list-style: none;
 display: flex;
 align-items: center;
 gap: 20px
}

@media (max-width: 767px) {
 .auction-grid-title-section .filter-selector .grid-view {
  display: none
 }
}

.auction-grid-title-section .filter-selector .grid-view li {
 line-height: 1;
 cursor: pointer
}

.auction-grid-title-section .filter-selector .grid-view li svg {
 fill: rgba(var(--title-color-opc), .4)
}

.auction-grid-title-section .filter-selector .grid-view li.active svg {
 fill: var(--title-color)
}

@media (max-width: 1199px) {
 .auction-grid-title-section .filter-selector .grid-view li.column-4 {
  display: none
 }
}

.nice-select {
 -webkit-tap-highlight-color: transparent;
 background-color: #fff;
 border-radius: 5px;
 border: 1px solid #e8e8e8;
 box-sizing: border-box;
 clear: both;
 cursor: pointer;
 display: block;
 float: left;
 font-family: inherit;
 font-size: 14px;
 font-weight: 400;
 height: 42px;
 line-height: 40px;
 outline: none;
 padding-left: 18px;
 padding-right: 30px;
 position: relative;
 text-align: left !important;
 transition: all .2s ease-in-out;
 -webkit-user-select: none;
 -moz-user-select: none;
 user-select: none;
 white-space: nowrap;
 width: auto
}

.nice-select:hover {
 border-color: #dbdbdb
}

.nice-select.open,
.nice-select:active,
.nice-select:focus {
 border-color: #999
}

.nice-select:after {
 border-bottom: 2px solid #999;
 border-right: 2px solid #999;
 content: "";
 display: block;
 height: 5px;
 margin-top: -4px;
 pointer-events: none;
 position: absolute;
 right: 12px;
 top: 50%;
 transform-origin: 66% 66%;
 transform: rotate(45deg);
 transition: all .15s ease-in-out;
 width: 5px
}

.nice-select.open:after {
 transform: rotate(-135deg)
}

.nice-select.open .list {
 opacity: 1;
 pointer-events: auto;
 transform: scale(1) translateY(0)
}

.nice-select.disabled {
 border-color: #ededed;
 color: #999;
 pointer-events: none
}

.nice-select.disabled:after {
 border-color: #ccc
}

.nice-select.wide {
 width: 100%
}

.nice-select.wide .list {
 left: 0 !important;
 right: 0 !important
}

.nice-select.right {
 float: right
}

.nice-select.right .list {
 left: auto;
 right: 0
}

.nice-select.small {
 font-size: 12px;
 height: 36px;
 line-height: 34px
}

.nice-select.small:after {
 height: 4px;
 width: 4px
}

.nice-select.small .option {
 line-height: 34px;
 min-height: 34px
}

.nice-select .list {
 background-color: #fff;
 border-radius: 5px;
 box-shadow: 0 0 0 1px rgba(68, 68, 68, .11);
 box-sizing: border-box;
 margin-top: 4px;
 opacity: 0;
 overflow: hidden;
 padding: 0;
 pointer-events: none;
 position: absolute;
 top: 100%;
 left: 0;
 transform-origin: 50% 0;
 transform: scale(.75) translateY(-21px);
 transition: all .2s cubic-bezier(.5, 0, 0, 1.25), opacity .15s ease-out;
 z-index: 9
}

.nice-select .list:hover .option:not(:hover) {
 background-color: transparent !important
}

.nice-select .option {
 cursor: pointer;
 font-weight: 400;
 line-height: 40px;
 list-style: none;
 min-height: 40px;
 outline: none;
 padding-left: 18px;
 padding-right: 29px;
 text-align: left;
 transition: all .2s
}

.nice-select .option.focus,
.nice-select .option.selected.focus,
.nice-select .option:hover {
 background-color: #f6f6f6
}

.nice-select .option.selected {
 font-weight: 700
}

.nice-select .option.disabled {
 background-color: transparent;
 color: #999;
 cursor: default
}